<div class="about-container">




    <h1> this is my first workshop with angular </h1>
    <h2>About the Angular Crash Course</h2>
    <p>
     This workshop is designed for beginners who want to learn Angular,
      one of the most popular JavaScript frameworks for building web applications.
    </p>
  
    <p>
      In this course, I learned the fundamentals of Angular, including components, services, routing,
      and HTTP communication. By the end of the project, I Had a solid understanding of how to build
      powerful and interactive web applications using Angular.
    </p>
  
            
                <h1> it's just the beginning after the end</h1>

  </div>


























