.message-card{



    width: 110;
    margin: 10;
    padding: 10;
    border: 1 solid #ccc;
 
 border-radius: 4px;
    background-color: #f7f7f7;
}.message-header{

background-color: #4caf50;

color: white;
padding: 10;
border-radius: 4 4 0 0 ;


}
.message-content{

padding: 10px;
border-radius:  0 0 4 4 ;

}